*.o
*.lo
*.la
Makefile
.deps
.libs/
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/.dirstamp
src/.libs/
src/c2term
src/minitermite/minitermite.h
src/term2c
src/termparser.tab.h++
src/termpretty
termlexer.c++
termparser.c++
termparser.h
termpretty.c++
testsuite/c_driver.sh
testsuite/cxx_driver.sh
ylwrap

